[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
csharp_indent_switch_labels=false
csharp_new_line_before_catch=false
csharp_new_line_before_else=false
csharp_new_line_before_finally=false
csharp_new_line_before_open_brace=types
csharp_style_expression_bodied_accessors=true:suggestion
csharp_style_expression_bodied_constructors=true:suggestion
csharp_style_expression_bodied_indexers=true:suggestion
csharp_style_expression_bodied_methods=true:suggestion
csharp_style_expression_bodied_operators=true:suggestion
csharp_style_expression_bodied_properties=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_sort_system_directives_first=false
dotnet_style_explicit_tuple_names=true:warning
dotnet_style_object_initializer=true:suggestion
dotnet_style_null_propagation=true:suggestion


[*.xml]
indent_style = space