name: .NET Nuget

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Setup .NET Core 3.1.1
      uses: actions/setup-dotnet@v1.4.0
      with:
        dotnet-version: 3.1.101

    - name: Setup nuget config
      run: sed 's/GITHUB_TOKEN/${{ secrets.RegistryToken }}/g' .nuget.config > nuget.config

    - name: Test with dotnet
      run: dotnet test --configuration Release -v:m | grep -v 'NAME_UNKNOWN:Package'

    - name: Pack nuget
      run: dotnet pack -o `pwd`/.nugets --configuration Release --no-build -v:m

    - name: Push nuget
      run: dotnet nuget push `pwd`/.nugets/*.nupkg -s https://nuget.pkg.github.com/interlockledger/index.json --skip-duplicate
